* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #f7f052;
  --secondaryColor: #27474e;

  --mainText: "Montserrat", sans-serif;
}

body {
  font-family: var(--mainText);
  line-height: 1.6;
}

img {
  border: 1px solid #000;
  -webkit-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 13px 0px rgba(0, 0, 0, 0.75);
}
ul {
  list-style: none;
}
a {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-size: 56px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

.main-container {
  width: 95%;
  margin: 0 auto;
}

#header {
  background: var(--secondaryColor);
  color: #fff;
}
.linkShow {
  display: none;
}
.contact {
  width: 300px;
  margin: 0px auto;
  padding-top: 20px;
}
.header-navigation a:hover {
  color: var(--mainColor);
}

#header li {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}
.header-navigation {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 90px;
  text-align: center;
}

#intro-section {
  /* background: var(--mainColor);       will put img later */
  height: 450px;
}

.intro-items {
  width: 50%;
  padding: 50px 0px;
}
.intro-items button {
  padding: 10px;
  background: var(--mainColor);
  color: #000;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5%;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left {
  background: var(--mainColor);
}
.left-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img content";
  padding: 40px 0px;
}
.left-img {
  grid-area: img;
  justify-self: center;
  align-self: center;
}
.left-content {
  grid-area: content;
  justify-self: center;
}

/* .right {
  background: var(--mainColor);
} */
.right-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content img";
  padding: 40px 0px;
}
.right-img {
  grid-area: img;
  justify-self: center;
  align-self: center;
}
.right-content {
  grid-area: content;
}

#footer {
  background: var(--secondaryColor);
  color: white;
  height: 100%;
  text-align: center;
  padding-top: 30px;
  line-height: 1.9;
}
#footer div {
  padding-bottom: 20px;
}
.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "footerLeft footerMLeft footerMRight footerRight"
    "about footerMLeft footerMRight footerRight"
    "contact footerMLeft footerMRight footerRight"
    "footerBottom footerBottom footerBottom footerBottom";
  gap: 20px;
}
.footerLeft {
  grid-area: footerLeft;
}
.about {
  grid-area: about;
}
.contact {
  grid-area: contact;
}
.footerRight {
  grid-area: footerRight;
}
.footerMRight {
  grid-area: footerMRight;
}
.footerMLeft {
  grid-area: footerMLeft;
}
.footer-wrapper h5 {
  color: var(--mainColor);
}
.footerRight input {
  border-radius: 5%;
  width: 80%;
  height: 30px;
  margin-top: 10px;
  text-align: center;
}
.footerRight input[type="submit"] {
  background: var(--mainColor);
  cursor: pointer;
}
.footerBottom {
  grid-area: footerBottom;
  border-top: 2px solid var(--mainColor);
  padding-top: 10px;
  margin-bottom: -40px;
}
.icons i {
  margin-right: 15px;
  transition: 0.2s linear;
}
.icons i:hover {
  cursor: pointer;
  color: var(--mainColor);
  transform: translateY(-5px);
}

@media screen and (max-width: 800px) {
  .contact {
    position: relative;
    text-align: center;
  }
  .linkShow {
    display: block;
    position: absolute;
    left: 40%;
  }

  .links {
    display: none;
    z-index: 2;
    padding-top: 20px;
    width: 100%;
    max-height: 60%;
    text-align: center;
    background: var(--secondaryColor);
    position: relative;
    margin-top: 250px;
    transition: height 0.7s linear;
  }

  .links a {
    display: block;
    padding: 0 5px;
    transition: 0.5s ease-in-out;
  }
  .links a:hover {
    background: var(--mainColor);
    color: black;
  }
  .links li {
    width: 100%;
  }
  #header li {
    margin-right: 0px;
  }
  .intro-items {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .left-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "content";
  }
  .right-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "content";
  }
}

.footer-wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "footerLeft footerMLeft footerMRight"
    "footerLeft footerMLeft footerRight"
    "footerLeft footerMLeft footerRight"
    "footerBottom footerBottom footerBottom";
}

@media screen and (max-width: 650px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "footerLeft"
      "footerMLeft"
      "footerMRight"
      "footerRight"
      "footerBottom";
  }
}

@media screen and (max-width: 400px) {
  .left-wrapper {
    margin-top: 70px;
  }
}
